{% if cases and cases.length %}
  {% for _case in cases %}
    {#  Set defendant variable names #}
    {% set defendants = _case.defendants | default([]) %}
    {% set primaryDefendant = defendants[0] | default(null) %}
    {% set primaryFirstName = (primaryDefendant and primaryDefendant.firstName) | default('') %}
    {% set primaryLastName  = (primaryDefendant and primaryDefendant.lastName)  | default('') %}
    {% set primaryFullName  = (primaryFirstName ~ ' ' ~ primaryLastName) | trim %}
    {% set additionalDefendantCount = (defendants | length) - 1 %}
    {% set hasAdditionalDefendants = additionalDefendantCount > 0 %}

    <h2 class="govuk-heading-m">
      {{ primaryFullName or '—' }}
      {% if hasAdditionalDefendants %}
        and {{ additionalDefendantCount }} more
      {% endif %}
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-6">
      Ref: {{ _case.reference }}
    </p>
  {% endfor %}
{% else %}
  <p class="govuk-body">No cases found.</p>
{% endif %}