{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Overview",
    href: "#1",
    active: true
  }, {
    text: "Details",
    href: "#2"
  }, {
    text: "Communications",
    href: "#3"
  }, {
    text: "Reviews",
    href: "#3"
  }]
}) }}