{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter reviewing-lawyer">
            <h1 class="govuk-heading-m">TESTINGTON,Test 16SL1006125 </h1>

            <h2 class="govuk-heading-s">Reviewing lawyer</h2>
            <h2 class="govuk-heading-s">Phelps, Julie  </h2>
  </div>
  <div class="govuk-grid-column-three-quarters">
    
    

<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
<h2 class="govuk-summary-card__title">
      Reviews
</h2>
</div>
<div class="govuk-summary-card__content">
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
          Task
</dt>
<dd class="govuk-summary-list__value">
           <b>Due by</b>
</dd>
<dd class="govuk-summary-list__actions">
          <b>Actions</b>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
          28 day PCD Review
</dt>
<dd class="govuk-summary-list__value">
          4 Dec 2026
</dd>
<dd class="govuk-summary-list__actions">
<a href="experement/select-test-type.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Start review
</a>
</dd>
</div>

</div>
</dl>
</div>
</div>


      




{% endblock %}
